"*":
  "Sublime-Style-Column-Selection":
    selectKeyTrigger: "Ctrl"
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-beautify":
    general:
      _analyticsUserId: "57d65fa5-cb86-468f-a653-bbe65e34f933"
    python:
      max_line_length: 100
      sort_imports: true
  "atom-clock":
    showClockIcon: true
    showTooltip: true
  "atom-copy-on-select":
    delay: 500
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    hyperclick:
      darwinTriggerKeys: "altKey"
    use: {}
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      accentColor: "#ff8b2e"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-terminal":
    app: "iTerm.app"
    setWorkingDirectory: false
    surpressDirectoryArgument: false
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
  "autocomplete-python":
    showTooltips: true
  autosave: {}
  "block-cursor":
    global:
      blinkOn:
        backgroundColor: "#43b1e9"
  "choose-pane":
    labelChars: "JKLH;ABCDEFGIMNOPQRSTUVWXYZ"
  "city-lights-ui": {}
  core:
    audioBeep: false
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "welcome"
      "my-package"
      "tree-view"
      "language-gfm"
      "my-package"
      "my-package"
      "my-package"
      "my-package"
      "language-shellscript"
      "linter"
      "city-lights-icons"
    ]
    excludeVcsIgnoredPaths: false
    openEmptyEditorOnStart: false
    packagesWithKeymapsDisabled: [
      "tool-bar"
      "line-jumper"
      "atom-css-class-checker"
      "ctrl-dir-scroll"
      "jumpy"
      "emmet-simplified"
      "highlight-line"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
    titleBar: "custom"
  "cursor-blink-interval": {}
  editor:
    fontFamily: "Source Code Pro for Powerline"
    fontSize: 10
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…-"
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    showInvisibles: true
    softWrap: true
  "editor-background":
    image:
      backgroundSize: "100%"
      customOverlayColor: true
    other: {}
    text:
      blur: 0
  "exception-reporting":
    userId: "bf1a28f2-4481-4777-b187-9b8e1da674c0"
  "file-icons": {}
  "find-and-replace":
    focusEditorAfterSearch: true
  fonts:
    fontFamily: "Inconsolata-g"
  "git-blame":
    columnWidth: 171
  "glowing-cursor":
    cursorWidth: 7
  "hey-pane":
    expandedWidth: 97
  "highlight-line":
    enableBackgroundColor: false
  "ide-css":
    lessSupport: false
  "ide-python":
    pylsPlugins:
      jedi_completion: {}
      jedi_definition: {}
      jedi_references: {}
      jedi_symbols:
        all_scopes: true
      mccabe:
        enabled: false
      pycodestyle: {}
      pyflakes:
        enabled: false
      yapf:
        enabled: false
  jumpy:
    fontSize: 0.9
    highContrast: true
  "keybinding-cheatsheet": {}
  kite:
    enableCompletions: false
    showKiteTourOnStartup: false
  "linter-flake8":
    ignoreErrorCodes: [
      "F821 E302"
    ]
    maxLineLength: 100
    pycodestyleErrorsToWarnings: true
  "linter-jshint":
    executablePath: "/usr/local/bin/jshint"
    lintInlineJavaScript: true
  "linter-ui-default": {}
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": false
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
    scrollAnimation: true
  nuclide:
    "atom-ide-datatip":
      onlyTopDatatip: true
    "atom-ide-diagnostics-ui": {}
    "atom-ide-outline-view":
      nameOnly: true
    hyperclick:
      darwinTriggerKeys: "ctrlKey"
    "nuclide-code-search":
      tool: "ag"
    "nuclide-definition-preview":
      editorHeight: 60
    "nuclide-distraction-free-mode":
      hideFindAndReplace: true
      hideStatusBar: true
      hideToolBar: true
    "nuclide-home":
      showHome: false
    "nuclide-python":
      enableLinting: false
      includeOptionalArguments: true
      lintOnFly: true
    "nuclide-terminal":
      cursorBlink: true
    use:
      "nuclide-adb-logcat": false
      "nuclide-adb-sdb": false
      "nuclide-atom-notifications": false
      "nuclide-blame": false
      "nuclide-blame-provider-hg": false
      "nuclide-buck": false
      "nuclide-buck-ios": false
      "nuclide-clang": false
      "nuclide-clipboard-path": false
      "nuclide-console": false
      "nuclide-cquery-lsp": false
      "nuclide-ctags": false
      "nuclide-debugger-php": false
      "nuclide-debugger-vsp": false
      "nuclide-deprecation-cop": false
      "nuclide-device-panel": false
      "nuclide-device-panel-ios": false
      "nuclide-distraction-free-mode": false
      "nuclide-flow": false
      "nuclide-graphql": false
      "nuclide-hack": false
      "nuclide-health": false
      "nuclide-hg-repository": false
      "nuclide-hhvm": false
      "nuclide-home": false
      "nuclide-infer-al": false
      "nuclide-ios-simulator-logs": false
      "nuclide-key-binding-hint-status": false
      "nuclide-language-hack": false
      "nuclide-language-infer-al": false
      "nuclide-language-reason": false
      "nuclide-metro": false
      "nuclide-move-item-to-available-pane": false
      "nuclide-navigation-stack": false
      "nuclide-navigation-stack-status-bar": false
      "nuclide-notifications": false
      "nuclide-objc": false
      "nuclide-ocaml": false
      "nuclide-project": false
      "nuclide-react-inspector": false
      "nuclide-recent-files-provider": false
      "nuclide-recent-files-service": false
      "nuclide-refactorizer": false
      "nuclide-related-files": false
      "nuclide-remote-atom": false
      "nuclide-remote-projects": false
      "nuclide-ssh-tunnel": false
      "nuclide-swift": false
      "nuclide-task-runner": false
      "nuclide-terminal": false
      "nuclide-test-runner": false
      "nuclide-type-coverage": false
      "nuclide-working-sets": false
  "platformio-ide-terminal":
    ansiColors:
      normal:
        green: "#05bf00"
        red: "#a51400"
        white: "#ffffff"
      zBright:
        brightBlack: "#f2f2f2"
    iconColors:
      blue: "#f1fffd"
      green: "#028000"
    style:
      fontFamily: "Inconsolata Nerd Font Mono"
      fontSize: "18"
      theme: "pro"
  python:
    linting:
      pylintArgs: [
        "--disable=R,C"
      ]
  "save-workspace-Workspaces":
    "2835-check-if-applying-for-wild-med-work-WRAP":
      panes: [
        {
          type: "paneAxis"
          data: [
            {
              type: "pane"
              data:
                tabs: [
                  "/Users/mchey/code/website/nols_website/staffing/tests.py"
                  "/Users/mchey/code/website/nols_website/staffing/views.py"
                  "/Users/mchey/code/website/nols_website/alumni/tests.py"
                  "/Users/mchey/code/website/nols_website/website/gui_tests/page_objects/test_tools.py"
                  "/Users/mchey/code/website/nols_website/admissions/tests/test_open_app.py"
                  "/Users/mchey/code/website/nols_website/admissions/dashboard/tests.py"
                  "/Users/mchey/code/website/nols_website/staffing/models.py"
                  "/Users/mchey/code/website_core/nols_model_core/src/nols/model/core/entity/person.py"
                  "/Users/mchey/code/website/nols_website/core/models.py"
                  "/Users/mchey/code/website_core/nols_model_core/src/nols/model/core/entity/entity.py"
                  "/Users/mchey/code/website_core/nols_model_core/src/nols/model/core/data_access.py"
                  "/Users/mchey/code/website_core/nols_model_core/src/nols/model/core/manager_base.py"
                  "/Users/mchey/.atom/projects.cson"
                  "/Users/mchey/code/website_core/nols_model_core/src/nols/model/core/entity/entity_manager.py"
                  "/Users/mchey/dotfiles/.atom/init.coffee"
                ]
                orientation: "vertical"
            }
            {
              type: "pane"
              data:
                tabs: [
                  "/Users/mchey/code/website/nols_website/website/tests.py"
                ]
                orientation: "vertical"
            }
          ]
          orientation: "vertical"
        }
        {
          type: "pane"
          data:
            tabs: [
              "/Users/mchey/code/website/nols_website/core/decorators.py"
            ]
            orientation: "horizontal"
        }
        {
          type: "pane"
          data:
            tabs: [
              "/Users/mchey/code/website_core/nols_model_core/src/nols/model/core/entity/entity_classification.py"
            ]
            orientation: "horizontal"
        }
      ]
      projectPaths: [
        "/Users/mchey/code/website"
        "/Users/mchey/Documents"
      ]
    "foundation-upgrade":
      panes: [
        {
          type: "paneAxis"
          data: [
            {
              type: "pane"
              data:
                tabs: [
                  "/Users/mchey/code/website/nols_website/admissions/dashboard/gui_tests/__init__.py"
                  "/Users/mchey/code/website/nols_website/admissions/dashboard/gui_tests/academic_credit_tests.py"
                ]
                orientation: "vertical"
            }
            {
              type: "pane"
              data:
                tabs: [
                  "/Users/mchey/code/website/nols_website/website/gui_tests/page_objects/page_elements.py"
                ]
                orientation: "vertical"
            }
          ]
          orientation: "vertical"
        }
        {
          type: "pane"
          data:
            tabs: [
              "/Users/mchey/code/website/nols_website/admissions/dashboard/gui_tests/emt_prerequisites_tests.py"
              "/Users/mchey/code/website/nols_website/admissions/dashboard/gui_tests/academic_credit_tests.py"
              "/Users/mchey/code/website/nols_website/admissions/dashboard/gui_tests/page_objects/student_form_pages.py"
              "/Users/mchey/code/website/nols_website/admissions/dashboard/gui_tests/page_objects/dashboard_pages.py"
              "/Users/mchey/code/website/nols_website/website/gui_tests/page_objects/base_page.py"
            ]
            orientation: "horizontal"
        }
        {
          type: "pane"
          data:
            tabs: [
              "/Users/mchey/code/website/nols_website/admissions/dashboard/gui_tests/letters_of_recommendation_tests.py"
            ]
            orientation: "horizontal"
        }
      ]
      projectPaths: [
        "/Users/mchey/code/website"
      ]
  "split-diff":
    colors:
      overrideThemeColors: true
    diffWords: true
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
    scrollSyncType: "Vertical + Horizontal"
  "tool-bar":
    iconSize: "12px"
    position: "Bottom"
    visible: false
  "tool-bar-markdown-writer":
    visibility: "showToolbarOnMarkdown"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus":
    automaticallyEscapeInsertModeOnActivePaneItemChange: true
    defaultScrollRowsOnMiniScroll: 2
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapSemicolonToInnerAnyPairInOperatorPendingMode: true
    keymapSemicolonToInnerAnyPairInVisualMode: true
    sequentialPaste: true
    showHoverSearchCounter: true
    smoothScrollOnFullScrollMotion: true
    smoothScrollOnFullScrollMotionDuration: 100
    smoothScrollOnHalfScrollMotion: true
    smoothScrollOnHalfScrollMotionDuration: 100
    smoothScrollOnMiniScroll: true
    smoothScrollOnMiniScrollDuration: 100
    smoothScrollOnRedrawCursorLine: true
    smoothScrollOnRedrawCursorLineDuration: 100
  "vim-mode-plus-move-selected-text": {}
".hack.html.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…"
".reason.source":
  editor:
    preferredLineLength: 110
