"*":
  "atom-material-ui":
    colors:
      abaseColor: "#0096ff"
      accentColor: "#ff781a"
      genAccent: true
      paintCursor: true
  core:
    allowPendingPaneItems: false
    customFileTypes:
      "source.ini": [
        ".hgrc"
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
      "symbols-view"
      "language-gfm"
      "busy-signal"
      "linter-ui-default"
      "linter"
      "markdown-preview"
      "image-view"
    ]
    projectHome: "/Users/mchey/code"
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 10
    preferredLineLength: 120
    showInvisibles: true
  "exception-reporting":
    userId: "611dacae-fc64-40e3-822b-3fac24dd8229"
  "git-diff": {}
  "ide-css":
    lessSupport: false
  "linter-ui-default":
    panelHeight: 300
  nuclide:
    "atom-ide-diagnostics-ui": {}
    hyperclick:
      darwinTriggerKeys: "altKey,metaKey"
    "nuclide-home":
      showHome: false
    "nuclide-python":
      enableLinting: false
      includeOptionalArguments: true
    use:
      "atom-ide-console": "never"
      "atom-ide-debugger-python": "never"
  "split-diff":
    ignoreWhitespace: true
    leftEditorColor: "red"
    rightEditorColor: "green"
  "vim-mode":
    useClipboardAsDefaultRegister: true
  "vim-mode-plus":
    ignoreCaseForSearch: true
    keymapBackslashToInnerCommentOrParagraphWhenToggleLineCommentsIsPending: true
    keymapIAndAToInsertAtTargetWhenHasOccurrence: true
    keymapSemicolonToInnerAnyPairInOperatorPendingMode: true
    keymapSemicolonToInnerAnyPairInVisualMode: true
  welcome:
    showOnStartup: false
".hack.html.text":
  editor:
    nonWordCharacters: "/\\()\"':,.;<>~!@#$%^&*|+=[]{}`?…"
".reason.source":
  editor:
    preferredLineLength: 110
