"*":
  "advanced-open-file":
    createDirectories: true
    createFileInstantly: true
    fuzzyMatch: true
    helmDirSwitch: true
  "atom-beautify":
    general:
      _analyticsUserId: "57d65fa5-cb86-468f-a653-bbe65e34f933"
  "atom-clock":
    showClockIcon: true
    showTooltip: true
  "atom-copy-on-select":
    delay: 500
  "atom-ide-ui":
    "atom-ide-diagnostics-ui": {}
    hyperclick:
      darwinTriggerKeys: "altKey"
    use: {}
  "atom-material-ui":
    colors:
      abaseColor: "#2196f3"
      accentColor: "#ff8b2e"
      genAccent: true
      paintCursor: true
      predefinedColor: "Blue"
    tabs:
      compactTabs: true
    ui:
      panelContrast: true
      panelShadows: true
  "atom-terminal":
    app: "iTerm.app"
    setWorkingDirectory: false
    surpressDirectoryArgument: false
  "autocomplete-python":
    showTooltips: true
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "welcome"
      "my-package"
      "python-indent"
      "linter"
      "linter-ui-default"
      "autocomplete-python"
      "clipboard-plus"
      "atom-ide-ui"
      "tree-view"
    ]
    packagesWithKeymapsDisabled: [
      "tool-bar"
    ]
    telemetryConsent: "limited"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontFamily: "Source Code Pro for Powerline"
    fontSize: 18
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "bf1a28f2-4481-4777-b187-9b8e1da674c0"
  "find-and-replace":
    projectSearchResultsPaneSplitDirection: "down"
  fonts:
    fontFamily: "Inconsolata-g"
  "git-blame":
    columnWidth: 412
  "hey-pane":
    expandedWidth: 99
  "ide-python":
    pylsPlugins:
      jedi_completion: {}
      jedi_definition: {}
      jedi_references: {}
      jedi_symbols:
        all_scopes: true
      mccabe:
        enabled: false
      pycodestyle:
        enabled: false
      pyflakes:
        enabled: false
      yapf:
        enabled: false
  kite:
    enableCompletions: false
    showKiteTourOnStartup: false
  "linter-flake8":
    ignoreErrorCodes: [
      "F821 E302"
    ]
    maxLineLength: 100
    pycodestyleErrorsToWarnings: true
  "linter-jshint": {}
  "linter-ui-default": {}
  minimap:
    absoluteMode: true
    plugins:
      bookmarks: true
      bookmarksDecorationsZIndex: 0
      cursorline: true
      cursorlineDecorationsZIndex: 0
      "find-and-replace": true
      "find-and-replaceDecorationsZIndex": 0
      "git-diff": true
      "git-diffDecorationsZIndex": 0
      "highlight-selected": true
      "highlight-selectedDecorationsZIndex": 0
      "minimap-autohider": true
      "minimap-autohiderDecorationsZIndex": 0
    scrollAnimation: true
  nuclide:
    hyperclick:
      darwinTriggerKeys: "altKey,metaKey"
    "nuclide-definition-preview": {}
    "nuclide-distraction-free-mode":
      hideFindAndReplace: true
      hideStatusBar: true
      hideToolBar: true
    "nuclide-home":
      showHome: false
    "nuclide-python":
      enableLinting: false
      lintOnFly: true
    use:
      "nuclide-blame": false
      "nuclide-blame-provider-hg": false
      "nuclide-bookshelf": false
      "nuclide-buck": false
      "nuclide-buck-ios": false
      "nuclide-clang": false
  "platformio-ide-terminal":
    ansiColors:
      normal:
        green: "#05bf00"
        red: "#a51400"
        white: "#ffffff"
      zBright:
        brightBlack: "#f2f2f2"
    iconColors:
      blue: "#f1fffd"
      green: "#028000"
    style:
      fontFamily: "Inconsolata Nerd Font Mono"
      fontSize: "18"
      theme: "pro"
  python:
    linting:
      pylintArgs: [
        "--disable=R,C"
      ]
  "split-diff":
    colors:
      overrideThemeColors: true
  "tool-bar":
    iconSize: "12px"
    position: "Bottom"
".reason.source":
  editor:
    preferredLineLength: 110
