# ctrl-alt-shift-cmd is bound to pressing and holding the semicolon in karabiner elements

'atom-workspace':
  'alt-cmd-o': 'advanced-open-file:toggle'
  'alt-space': 'choose-pane:start'
  'alt-cmd-h': 'pane:show-previous-item'
  'alt-cmd-l': 'pane:show-next-item'
  'ctrl-alt-cmd-j': 'window:toggle-dev-tools'
  'cmd-q': 'unset!'
  'cmd-q cmd-q': 'application:quit'
  'shift-space': 'nuclide-quick-open:find-anything-via-omni-search'

'atom-text-editor':
  'ctrl-enter': 'editor:newline-above'
  'shift-cmd-enter': 'hey-pane:toggle-focus-of-active-pane'
  'ctrl-k': 'unset!'
  'ctrl-cmd-o': 'nuclide-open-filenames-provider:toggle-provider'
  'shift-cmd-j': 'atom-notes:toggle'
  'shift-cmd-alt-t': 'markdown-writer:toggle-task'
  'shift-cmd-alt-x': 'markdown-writer:toggle-taskdone'

  # cursor
  'alt-,': 'last-cursor-position:previous'
  'alt-.': 'last-cursor-position:next'

  # emmet
  'ctrl-:': 'emmet:remove-tag'
  'ctrl-w': 'emmet:wrap-with-abbreviation'
  'ctrl-space': 'emmet:expand-abbreviation-with-tab'

  # custom
  'shift-cmd-space': 'custom:insert-space-keep-cursor-place'
  'ctrl-alt-space': 'custom:insert-tab-keep-cursor-place'
  'alt-enter': 'custom:insert-newline-keep-cursor-place'

  'ctrl-cmd-up': 'my:move-line-up'
  'ctrl-cmd-down': 'my:move-line-down'

##############################################################################################
##############################-------vim mode keybindings-------##############################
##############################################################################################

'atom-text-editor.vim-mode-plus:not(.visual-mode)':
  # key bindings for multi-cursor-plus
  'alt-x': 'multi-cursor-plus:mark'
  'ctrl-alt-k': 'multi-cursor-plus:move-up'
  'ctrl-alt-j': 'multi-cursor-plus:move-down'
  'ctrl-alt-h': 'multi-cursor-plus:move-left'
  'ctrl-alt-l': 'multi-cursor-plus:move-right'
  'ctrl-alt-cmd-h': 'multi-cursor-plus:move-to-beginning-of-word'
  'ctrl-alt-cmd-l': 'multi-cursor-plus:move-to-end-of-word'

  'alt-k': 'multi-cursor:expandUp'
  'alt-j': 'multi-cursor:expandDown'

'atom-text-editor.vim-mode-plus.visual-mode':
  'ctrl-t': 'vim-mode-plus-user:move-selected-text-toggle-overwrite'

  'shift-k': 'keystroke 5 k'
  'shift-j': 'keystroke 5 j'

  'alt-h': 'vim-mode-plus-user:move-selected-text-left'
  'alt-l': 'vim-mode-plus-user:move-selected-text-right'
  'alt-k': 'vim-mode-plus-user:move-selected-text-up'
  'alt-j': 'vim-mode-plus-user:move-selected-text-down'

'atom-text-editor:not(.mini).jumpy-jump-mode':
  'escape': 'jumpy:clear'

'atom-text-editor:not(.mini).vim-mode-plus:not(.insert-mode):not(.jumpy-jump-mode), .tree-view':
  'ctrl-f': 'jumpy:toggle'

'atom-text-editor.vim-mode-plus.normal-mode':
  'shift-j': 'keystroke 1 0 j'
  'shift-k': 'keystroke 1 0 k'

  'm m': 'bookmarks:toggle-bookmark'
  '\'':  'bookmarks:jump-to-next-bookmark'
  'm p': 'bookmarks:jump-to-previous-bookmark'
  'm v': 'bookmarks:view-all'
  'm c': 'bookmarks:clear-bookmarks'
  'alt-/': 'vim-mode-plus:toggle-case-and-move-right'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
  'ctrl-n': 'vim-mode-plus:move-to-next-occurrence'

  'cmd-j': 'vim-mode-plus:join'
  'Y': 'keystroke y i l'
  'cmd-enter': 'editor:newline-below'
  'space escape': 'vim-mode-plus:undo'
  # pane splitting
  'ctrl-alt-shift-cmd-k': 'window:focus-pane-above'
  'ctrl-alt-shift-cmd-j': 'window:focus-pane-below'
  'ctrl-alt-shift-cmd-l': 'window:focus-pane-on-right'
  'ctrl-alt-shift-cmd-h': 'window:focus-pane-on-left'

  'space left':'window:move-active-item-to-pane-on-left'
  'space right':'window:move-active-item-to-pane-on-right'
  'space up':'window:move-active-item-to-pane-above'
  'space down':'window:move-active-item-to-pane-below'

  'alt-left':'pane:split-left-and-move-active-item'
  'alt-right':'pane:split-right-and-move-active-item'
  'alt-up':'pane:split-up-and-move-active-item'
  'alt-down':'pane:split-down-and-move-active-item'

  'ctrl-left':'pane:split-left-and-copy-active-item'
  'ctrl-right':'pane:split-right-and-copy-active-item'
  'ctrl-up':'pane:split-up-and-copy-active-item'
  'ctrl-down':'pane:split-down-and-copy-active-item'
  'space h': 'hey-pane:toggle-follow-mode'

  # space keys!
  'space p': 'clipboard-plus:toggle'
  'space t f': 'nuclide-fuzzy-filename-provider:toggle-provider'
  'space m': 'application:open-your-keymap'

  'space g g': 'git-plus:menu'
  'space g c': 'git-plus:add-all-and-commit'
  'space g p s': 'git-plus:push'
  'space g p l': 'git-plus:pull'
  'space g o': 'git-plus:checkout'
  'space g s': 'git-plus:status'
  'space g l': 'git-plus:log'
  'space g v': 'git-plus:stash-save'
  'space g a': 'git-plus:add-all'

  'space s': 'settings-view:install-packages-and-themes'

  'space d b': 'window:toggle-bottom-dock'
  'space d l': 'window:toggle-right-dock'
  'space d h': 'window:toggle-left-dock'
  'space d d': 'my:dismiss-notifications'

  'space r m': 'quick-file-actions:delete'
  'space m v': 'quick-file-actions:move'
  'space c p': 'quick-file-actions:copy'
  'shift-space': 'nuclide-quick-open:find-anything-via-omni-search'

  'space 1': 'window:reload'

  'space b': 'git-blame:toggle'

  'shift-alt-j': 'vim-mode-plus:move-down-to-edge'
  'shift-alt-k': 'vim-mode-plus:move-up-to-edge'
  'ctrl-cmd-k': 'my:move-line-up'
  'ctrl-cmd-j': 'my:move-line-down'

  'alt-l': 'vim-mode-plus:move-to-next-word'
  'shift-l': 'vim-mode-plus:move-to-last-character-of-line'
  'alt-h': 'vim-mode-plus:move-to-previous-word'
  'shift-h': 'vim-mode-plus:move-to-first-character-of-line'

  'D': 'vim-mode-plus:delete-line'
  'd x': 'vim-mode-plus:delete-to-last-character-of-line'
  'd X': 'keystroke v ctrl-h x'
  '>': 'editor:delete-to-end-of-word'
  '<': 'editor:delete-to-beginning-of-word'
  '[': 'editor:outdent-selected-rows'
  ']': 'editor:indent-selected-rows'
  'g -':   'vim-mode-plus:dash-case'
  'g _': 'vim-mode-plus:snake-case'
  'ctrl-z': 'vim-mode-plus:upper-case-first'
  '_': 'vim-mode-plus:replace-with-register'

'atom-text-editor.vim-mode-plus.operator-pending-mode':
  'c': 'vim-mode-plus:inner-word'
  'C': 'vim-mode-plus:inner-smart-word'
###################################-package specific keymaps-##################################

'.tree-view':
  'ctrl-h': 'focus-pane-or-panel:focus-on-left'
  'ctrl-l': 'focus-pane-or-panel:focus-on-right'

# for cmd-f panel
'.platform-darwin .find-and-replace atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'

# for cmd-shift-f panel
'.platform-darwin .project-find atom-text-editor':
  'ctrl-j': 'focus-pane-or-panel:focus-below'
  'ctrl-k': 'focus-pane-or-panel:focus-above'

'.platform-darwin .advanced-open-file':
  'ctrl-;': 'advanced-open-file:delete-path-component'
