[
  {
    title: "CMS"
    group: "NOLS CMS"
    paths: [
      "/Users/mchey/code/cms"
    ]
    icon: "icon-heart"
  }
  {
    title: "Website"
    group: "NOLS Website"
    paths: [
      "/Users/mchey/code/website"
      "/Users/mchey/Documents"
      "/Library/Python/2.7/site-packages/pyls/config"
    ]
    icon: "icon-zap"
  }
  {
    title: "Atom Mgmt"
    paths: [
      "/Users/mchey/dotfiles/.atom"
    ]
    icon: "icon-rocket"
  }
  {
    title: "Dotfiles Mgmt"
    paths: [
      "/Users/mchey/dotfiles"
    ]
    icon: "icon-hubot"
  }
]
