# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
'*':
  'YOU TEST FINE YES':
      'prefix': 'HEL'
      'body': 'HELLO TO YOU'

'.html.django':
  'Insert {% %}':
    'prefix': '??'
    'body': '$2{% $1 %}'

  'Insert {{  }}':
    'prefix': '?'
    'body': '$2{{ $1 }}'


'.source.python':
  'insert ipdb trace':
    'prefix': 'ip'
    'body': 'import ipdb; ipdb.set_trace()'

  'insert bpdb trace':
    'prefix': 'bpd'
    'body': 'import bpdb; bpdb.set_trace()'

  'insert pdb trace':
    'prefix': 'pdb'
    'body': 'import pdb; pdb.set_trace()'

'.source.javascrip':
  'debugger':
    'prefix': 'deb'
    'body': 'debugger;'
